@import "variables";

.grid {
  width: 100%;
  height: 83vh;
  display: grid;
  grid-template-columns: repeat(2, 475px);
  grid-template-rows: 275px 3fr;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  justify-content: center;
}

.gridElement {
  background-color: $additionalColor;
  border-radius: 35px;
  //overflow: scroll;
  padding: 30px;
}

// Wallet block

.wallet {
  background-color: $mainColor;
  color: $additionalColor;
}

.balanceBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.balanceLine {
  font-size: $h2;
}

.cryptoBalance {
  margin: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
}

//Button styles

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: $h3;
  }
}

.buttonsBlock {
  width: 100%;
  display: flex;
  justify-content: center;
 }

.buttonElement {
  display: flex;
  justify-content: center;
  background-color: $additionalColor;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  margin: 0 20px 5px;
}

.depositIcon {
  padding-left: 2px;
}

// Wallet Info Block

.blockHeader {
  font-size: $h2;
  margin-bottom: 10px;
}

.infoBlock {
  overflow: scroll;
  height: 280px;
}

.infoElement {
  display: flex;
  align-items: center;
  border-bottom: #E9E9E9 1px solid;
  padding: 25px 0;
}

.infoKey {
  //margin-right: 10px;
  white-space: nowrap;
}

.infoValue {
  margin-left: 10px;
  word-break: break-all;
}